.App {
  text-align:center;
}


body{
  background-image: url("./mapbackground2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}


path{
  fill:gray;
  cursor: pointer;
  border:none;
  outline:none;
}

path:hover{
  fill:hotpink;
}


path:focus{
  fill: yellow;
}


.vector_map{
  height: 70vh;
  width: 100vw;
}

.map-container{
  background-color: #282c34;
  color: white;
}

.user-interface{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: burlywood; */
  background-image: url('./resources/wood.jpeg');
  border-radius: 45%;
  border: solid #b5a642 10px;
  margin:20px;
}

.ui-end-turn{
  border-radius: 50%;
}